{% extends "auth/auth_base.html" %}
{% load static %}

{% block content %}
<div class="card-body">

  <div class="pt-4 pb-2">
    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
    <p class="text-center small">Enter your personal details to create account</p>
  </div>
  <div>
    {% include "partials/messages.html" %}
  </div>
  <form class="row g-3 needs-validation" action="" method="POST">

    {% csrf_token %}
    <div class="col-12">
      <label for="name" class="form-label">Your Name</label>
      <input type="text" name="name" class="form-control" id="name" required value={{fieldValues.name}}>
      <div class="invalid-feedback">Please, enter your name!</div>
    </div>

    <div class="col-12">
      <label for="email" class="form-label">Your Email</label>
      <input type="email" name="email" class="form-control" id="email" required value={{fieldValues.email}}>
      <div class="invalid-feedback" id="email-invalid">Please enter a valid Email adddress!</div>
    </div>

    <div class="col-12">
      <label for="username" class="form-label">Username</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        <input type="text" name="username" class="form-control" id="username" required value={{fieldValues.username}}>
        <div class="invalid-feedback" id="username-invalid">Please choose a username.</div>
      </div>
    </div>

    <div class="col-12">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="password" required value={{fieldValues.password}}>
      <div class="invalid-feedback" id="invalid-password"></div>

    </div>
    <small class="float-right" id="show-password" style="cursor: pointer;">show</small>

    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and
            conditions</a></label>
        <div class="invalid-feedback">You must agree before submitting.</div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary w-100" type="submit" id="submit-btn">Create Account</button>
    </div>
    <div class="col-12">
      <p class="small mb-0">Already have an account? <a href="login">Log in</a></p>
    </div>
  </form>
</div>
</div>
<script src="{% static 'assets/js/formvalidation.js' %}"></script>
{% endblock %}