{% extends 'base.html' %}
{% load static %}

{% block content %}
<main id="main" class="main">
    <div>
        {% include "partials/messages.html" %}
    </div>
    <div class="pagetitle">
        <h1>Revenue</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item">Revenue</li>
            </ol>
        </nav>
    </div>
    <button onclick="addearning()" class="btn btn-secondary" id="btn-1">Add Earning</button>
    <br>
    <section class="section" id="addearning-btn" style="display: none;">
        <br>
        <form class="row g-3 needs-validation" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-12">
                <label for="amount" class="form-label">Amount Spent</label>
                <input type="number" step="any" class="form-control" id="amount" name="amount" required
                    value="{{data.amount}}">
            </div>
            <div class="col-12">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" name="description"
                    value="{{data.description}}">
            </div>
            <div class="col-12">
                <label for="date" class="form-label">Date of Earning</label>
                <input type="date" class="form-control" id="date" name="date" value="{{data.date}}">
            </div>
            <div class="col-md-12">
                <label for="category" class="form-label">Category</label>
                <select id="category" name="category" class="form-select" required>
                    <selected></selected>
                    {% for category in categories %}
                    <option selected value={{category}}>{{category}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-12">
                <label for="file_upload" class="form-label">File Upload</label>
                <input type="file" class="file-upload" id="file_upload" name="file">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form><!-- Form -->
    </section>
    <script>
        function addearning() {
            let curr = document.getElementById("btn-1");
            if (curr.innerHTML == "Add Earning") {
                curr.innerHTML = "Cancel";
            }
            else {
                curr.innerHTML = "Add Earning";
            }
            var x = document.getElementById("addearning-btn");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>

    <br>
    <!-- Table with stripped rows -->
    <div class="header d-flex align-items-center justify-content-end">
        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="{% url 'searchview_income' %}">
                {% csrf_token %}
                <input type="text" name="query" placeholder="Search" title="Enter search keyword" id="search">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->
    </div>

    <table class="table datatable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Amount</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">Category</th>
                <th scope="col" style="text-align: center;">Files</th>
                <th scope="col" style="text-align: center;">Update/ Delete</th>
            </tr>
        </thead>
        <tbody class="tbody" id="tbody">
            {% for earning in earnings %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{earning.amount}}</td>
                <td>{{earning.description}}</td>
                <td>{{earning.date}}</td>
                <td>{{earning.category}}</td>
                <td style="text-align: center;">
                    <a class="btn btn-info" href="#">View File</a>
                </td>
                <td style="text-align: center;">
                    <a class="btn btn-primary" href="{% url 'earning-edit' earning.id  %}">Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tbody class="tbody" id="tbodyonsearch"></tbody>
    </table>
    <span class="paginators">
        showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    </span>
    <span class="no-results" style="display: none" ;>
        No Results Found
    </span>
    <!-- End Table -->

    </div>
    </div>
    </section>

</main><!-- End #main -->
<script src="{% static 'assets/js/searchview_income.js' %}"></script>
{% endblock %}